@import "bourbon"
@import "vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden

.hidden
	display: none

header
	display: none
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);

.header-wrapper
	height: 65px
  line-height: 65px

.logo
	img
		width: 132px

button
	height: 39px
	width: 200px
	font-family: "MullerThin", sans-serif
	border: none
	border-radius: 22px
	line-height: normal
	display: inline-block
	vertical-align: middle

.ad-button
	color: $white
	background-color: $red

.lk-link
	a
		text-decoration: underline
		color: $dark-grey
		font-family: "MullerThin", sans-serif
